/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #810941;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

pre {
  border-left: 3px solid darkgray;
  background: lightgray;
  padding-left: 10px;
  max-height: 400px;
}